<div>
    <div class="form-style-6">
        <h1>Change Count For Number of Confimation</h1>
        <form method="post" action="/admin/changeRequirement">
            <input type="text" name="count" placeholder="Enter Number of confirmations" />
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>