<div>
    <div class="form-style-6">
        <h1>Request Token</h1>
        <form method="post" action="/admin/removeOwner">
            <input type="text" name="address" placeholder="Enter Address of the owner" />
            {{!-- <input type="email" name="field2" placeholder="Email Address" />
<textarea name="field3" placeholder="Type your Message"></textarea> --}}
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>